<!DOCTYPE html>
<html>
<head>
<style>
* {box-sizing: border-box;}
body {background-color: lightblue;}
body {margin: 40px;}
.dropdown {
  position: relative;
  font-size: 14px;
  color: #333;

  .dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform .15s ease-in-out .15s;
    max-height: 66vh;
    overflow-y: scroll;
  }

  .dropdown-option {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }

  .dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
  }

  &.on {
   .dropdown-list {
      transform: scale(1, 1);
      transition-delay: 0s;
    }
  }
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 0px 0px 0px 4px;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

</style>
</head>
<body>
  <br><br>
  <div class="container">
    <div class="bg-image d-flex justify-content-center">
      <h1>StokeFinder: Lets Find Your Stoke</h1>
    <br><br>
  </div>
  <br><br>
    <%= form_with url: "/rec_areas/search_by_location", method: :get, local: true do |form| %>
      <div class="row">
        <div class="col-25">
          <%= form.label :search, 'Search all activites by Location(City, State):'%>
          </div>
        <div class="col-75">
          <%= form.text_field :search, placeholder: "Denver, CO" %>
        </div>
        <span>
          <div id="50">
            <p><%= check_box_tag "miles", "50"%><%= label_tag(:distance, "50 miles") %></p>
          </div>
          <div id="100">
            <p><%= check_box_tag "miles", "100"%><%= label_tag(:distance, "100 miles") %></p>
          </div>
          <div id="200">
            <p><%= check_box_tag "miles", "200"%><%= label_tag(:distance, "200 miles") %></p>
          </div>
        </span>
      </div>
      <br><br>
      <div class="row">
        <%= form.submit 'Search by Location' %>
      <% end %>
    </div>
    <br><br>

  <div class="bg-image d-flex justify-content-center">
    <h3>OR</h3>
    <br><br><br>
  </div>

<div class="bg-image d-flex justify-content-center">
  <h3>Search by Activities</h3>
  <br><br>
</div>

  <%= form_with url: "/search/by_activity", local: true, method: :get do |form| %>

  <div class="dropdown" data-control="checkbox-dropdown">
    <div class="dropdown-list">
      <% @activities.sort_by(&:name).each do |activity| %>
        <label class="dropdown-option" id="activity-<%= activity.id %>">
          <p><%= check_box_tag "activity[]", activity.name %><%= label_tag(:activity, "#{activity.name}") %></p>
      </label>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= form.submit "Search by Activity" %>
  <% end %>
  </div>

</body>
</html>
