<h1>Rec Areas Near <%= @location%>!</h1>
<% @areas.each do |area| %>
<ul>
  <div id= <%= area.name %> >
<h3><%= area.name %></h3>
<p><%= area.description %></p>
<p><%= area.directions %></p>
<p><%= link_to "Plan an adventure for #{area.name}", "/adventures/new/#{area.id}" %></p>
<p><%= link_to "#{area.name} Details", "/rec_areas/#{area.id}"%></p>
<br>
</div>
</ul>

<% end  %>
