<h1><%= @area.name %></h1>

<p>Description: <%=@area.description %></p>
<p>Fees: <%=@area.fee %></p>
<p>Email: <%=@area.email %></p>
<p>Phone number: <%=@area.phone %></p>

<br>
<hr>

<h3>Activities for the area: </h3>
  <% @all_activities.each do |activity| %>
    <h2><%= activity.name %></h2>
    <p>Description: <%= activity.description %></p>
    <p>Fee: <%= activity.fee %></p>
  <% end %>

<br>
<hr>
<h2>Weather for <%= @area.name %></h2>
<%= @%>
