<h1>Log In</h1>

<%= form_with url: "/login", method: :post, local:true do |form| %>
  <%= form.label :email %>
  <p><%= form.text_field :email %></p>

  <%= form.label :password %>
  <p><%= form.password_field :password %></p>

  <%= form.submit "Log In" %>
<% end %>
