<h1>Create a New Account</h1>


<%= form_with url: "/users", method: :post, local: true do |form| %>
  <%= form.label :user_name %>
  <p><%= form.text_field :user_name %></p>

  <%= form.label :email %>
  <p><%= form.text_field :email %></p>

  <%= form.label :password %>
  <p><%= form.text_field :password %></p>

  <%= form.label :password_confirmation %>
  <p><%= form.text_field :password_confirmation %></p>

  <%= form.label :street_address %>
  <p><%= form.text_field :street_address %></p>

  <%= form.label :city %>
  <p><%= form.text_field :city %></p>

  <%= form.label :state %>
  <p><%= form.text_field :state %></p>

  <%= form.label :zipcode %>
  <p><%= form.text_field :zipcode %></p>

  <%= form.hidden_field :access, value: 0 %>

<div class="form-check form-check-inline">
  <% @activities.sort_by(&:name).each do |activity| %>
    <div id="activity-<%= activity.id %>">
        <p><%= check_box_tag "activity[]", activity.name %>
        <%= label_tag(:activity, "#{activity.name}") %></p>
      </div>
  <% end %>
</div>

  <%= form.submit "Submit" %>

<% end %>
