<% if current_user.nil? %>
  <%= link_to "Log In", "/auth/google_oauth2/callback", method: :get %>
  <%= link_to "Register", "/register", method: :get %>
  <h1>Welcome to StokeFinder!</h1>
  <%= link_to "Search for Adventures", "/search", method: :get %>
<% else %>
  <h1>Welcome to StokeFinder!</h1>
  <%= link_to "Logout", "/logout", method: :delete %>
  <%= link_to "Search for Adventures", "/adventures/search", method: :get %>
<% end %>
